{% for vpc_name, value in vpcs.items() %}

module "{{vpc_name}}" {
  source = "terraform-aws-modules/vpc/aws"
  cidr = "{{ value.cidr_range }}"
  azs  = [ {% for az in value.azs %}"{{ az }}"{{ "," if not loop.last }}{% endfor %} ]
  public_subnets  = [ {% for subnet in value.public_subnets %}"{{ subnet }}"{{ "," if not loop.last }}{% endfor %} ]
  private_subnets  = [ {% for subnet in value.private_subnets %}"{{ subnet }}"{{ "," if not loop.last }}{% endfor %} ]


  {% for parameter, setting in value.items() %}
  {%- if parameter not in ('cidr_range','azs', 'public_subnets', 'private_subnets') -%}
  {{ parameter}} = {{ setting }}
  {% endif %}
  {% endfor %}
}
{% endfor %}
